    <?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>YourLeaveRequestController</servlet-name>
        <servlet-class>controller.leaverequest.YourLeaveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLeaveRequestController</servlet-name>
        <servlet-class>controller.leaverequest.DeleteLeaveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLeaveRequestController</servlet-name>
        <servlet-class>controller.leaverequest.UpdateLeaveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveLeaveRequestController</servlet-name>
        <servlet-class>controller.leaverequest.ApproveLeaveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectLeaveRequestController</servlet-name>
        <servlet-class>controller.leaverequest.RejectLeaveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.authentication.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.authentication.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserListController</servlet-name>
        <servlet-class>controller.agenda.UserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserWorkingDetailController</servlet-name>
        <servlet-class>controller.agenda.UserWorkingDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageRequestServletController</servlet-name>
        <url-pattern>/LeaveRequest/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YourLeaveRequestController</servlet-name>
        <url-pattern>/LeaveRequest/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLeaveRequestController</servlet-name>
        <url-pattern>/LeaveRequest/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLeaveRequestController</servlet-name>
        <url-pattern>/LeaveRequest/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveLeaveRequestController</servlet-name>
        <url-pattern>/LeaveRequest/approve</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectLeaveRequestController</servlet-name>
        <url-pattern>/LeaveRequest/reject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserListController</servlet-name>
        <url-pattern>/agenda/userlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserWorkingDetailController</servlet-name>
        <url-pattern>/agenda/userworkingdetail</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/auth/login.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>controller.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BaseRequireAuthenticationController</servlet-name>
        <servlet-class>controller.authentication.BaseRequireAuthenticationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLeaveRequestController</servlet-name>
        <servlet-class>controller.leaverequest.CreateLeaveRequestController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageRequestServletController</servlet-name>
        <servlet-class>controller.leaverequest.ManageRequestServletController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BaseRequireAuthenticationController</servlet-name>
        <url-pattern>/BaseRequireAuthenticationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLeaveRequestController</servlet-name>
        <url-pattern>/LeaveRequest/create</url-pattern>
    </servlet-mapping>
</web-app>
